* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: aliceblue;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

header{
    max-width:1000px;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff6347;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}


.stopwatch {
  background-color: #58b4a8;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px #cccccc;
  text-align: center;
}

.stopwatch h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.stopwatch button {
  background-color: #ff7f50;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.stopwatch button:hover {
  background-color: #256b96;
}

.stopwatch h3 {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.text
{
    font-size: 50px;
}

.text1{
    font-size: 30px;
}